<a href="https://colab.research.google.com/github/stark276/cs1-1-exercises/blob/master/Pima_KNN_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Exploratory Data Analysis
#First Part of DS 1-1
#pandas commands and filtering
# Visualizations to explore data
#descriptive stats, probabilities, hypothesis testing
#machine learning pipeline
  #- clean data , dropping missing or dealing with missing, removing or detecting
  #- extracting features, deciding what to prodict
  #- pick a ML algorithm, fit ti data (train) test predictive performance

In [6]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Make-School-Courses/DS-1.1-Data-Analysis/master/Datasets/diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [8]:
#features
x = df.drop("Outcome", axis=1)
#target
y = df["Outcome"]
y

#train test split

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64